<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1 style="text-align: center;">Hello, <span th:text="${user.username}"></span>!</h1>
<h2 th:style="'text-align: center;'">You have already chosen:</h2>

<div th:each="item : ${list2}">
  <p th:style="'text-align: center;'" th:text="${item.value}"></p>
</div>

<form th:action="@{/hello}" method="POST" th:style="'text-align: center;'">

  <select name="item">
    <option th:each="item : ${list}" th:value="${item.key}" th:text="${item.value}"></option>
  </select>
  <p>
    <input type="submit" name="submitForm" value="addToCart" />
    <input type="submit" name="submitForm" value="Submit" />
  </p>
</form>
<br>
</body>
</html>